.grid-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px 100px 50px 100px;
    line-height: 30px;
}
#head1{
font-size: 1.2rem;
font-weight: 500;
}
@media screen and (max-width: 600px) {
    .grid-container {
      flex-direction: column;
    }
}